@import "src/assets/styles/variables";
.chat {
  grid-area: chat;
  background-color: $primaryBg;
  border-radius: 5px;
  padding: 20px 0 10px 10px;
  max-height: $chatHeight;
  .header {
    margin: 0 0 25px 10px;
  }
}