@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.profile {
  @include roundedBox();
  overflow: hidden;
  display: grid;
  grid-gap: 20px;
  grid-template:  'profile profile profile'
                  'chat    posts   recentDialogs';
  grid-template-columns: 300px 1fr 300px;

}

