.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 30px);
  height: 100vh;

  .menu {
    position: absolute;
    background-color: #1ea7fd;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;

    .actionsList {
      list-style: none;

      li {
        border-bottom: 1px solid #000000;
        cursor: pointer;
      }
    }
  }
}


