.header {
    grid-area: h;
    background-color: #61dafb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header img{
    height: 50px;
    width: 50px;
}