@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;500;600&display=swap');

//sizes

$headerHeight: 85px;
$navbarWidth: 160px;
$sidebarWidth: 200px;
$chatHeight: 80vh;


//colors

$primaryBg: #fff;
$secondaryBg: #F4F7FC;
$primaryTextColor: #515355;
$secondaryTextColor: #6b7c8f;
$primaryColor: #3644d9;
$secondaryColor: #2E3AB8;
$optionalColor: #6b7c8f;
$primaryMessageBgColor: rgba(70,149,74,0.25);


// fonts

$mainFontFamily: 'Open Sans', sans-serif;
$headingFontFamily: 'Montserrat', sans-serif;
